{% extends 'base.html' %}
{% block content %}
<div class="container ">
    {% if is_reply %}
    <h2 align="center">This message replied to:</h2>
    <div class="card">
        <h5 class="card-header">
            <a href="./{{reply_message.message_id}}">Detail</a>
            <small style=" position: absolute; left: 50%; margin-left: -1em">{{reply_message.sender_username}}</small>
            <small class="float-right">{{reply_message.timestamp}}</small>
        </h5>
        <div class="card-body">
            {{reply_message.message}}
        </div>
    </div>
    <br>
    {%endif%}
    <h2 align="center">Message detail:</h2>
    <div class="card">
        <h5 class="card-header">
            <small style=" position: absolute; left: 50%; margin-left: -1em">{{message.sender_username}}</small>
            <small class="float-right">{{message.timestamp}}</small>
        </h5>
        <div class="card-body">
            {{message.message}}
        </div>
    </div>
    <form method="POST">
        <div style="padding-top: 25%">
            <h5 align="center">Reply will be sent only to user who created message</h5>
            {{ form.hidden_tag() }}
            {{ form.message(class="form-control") }}
            <button type="submit" class="btn btn-dark btn-block mb-4">Reply</button>
            <p align="center">{{ error_messsage }}</p>
        </div>
    </form>
</div>
{% endblock %}